:root{
    --pink-color:pink;
    --background-color:rgb(172, 107, 118);
    /* --background-color:pink;
    --background-color:pink;
    --background-color:pink; */
}
:root{
    --pink-color:pink;
    --background-color:rgb(172, 107, 118);
    /* --background-color:pink;
    --background-color:pink;
    --background-color:pink; */
}
.theme-blue{
    --background-color:rgb(105, 105, 185);
    --text-background-color: blue;
    --header-color:rgb(32, 32, 168);
    --footer-color:rgb(32, 32, 168);
}
.theme-pink{
    --background-color:rgb(241, 217, 221);
    --text-background-color: rgb(235, 124, 143);
    --header-color:rgb(246, 137, 155);
    --footer-color:rgb(246, 137, 155);
}
.theme-pink{
    --background-color:rgb(241, 217, 221);
    --text-background-color: rgb(235, 124, 143);
    --header-color:rgb(246, 137, 155);
    --footer-color:rgb(246, 137, 155);
}
.theme-red{
    --background-color:rgb(247, 130, 130);
    --text-background-color: rgb(220, 50, 50);
    --header-color:rgb(226, 44, 44);
    --footer-color:rgb(226, 44, 44);
}
@font-face {
    font-family: 'CustomFont';
    src: 
    url('../font-family/Great_Vibes/GreatVibes-Regular.ttf') format('truetype'),
    /* url('../font-family/Passions_Conflict/PassionsConflict-Regular.ttf') format('ttf'); */
  }



/* login styling */
h1,h2,h3,h4,h5{
    font-family: 'CustomFont' cursive !important;
}

body {
    
    font-family: 'CustomFont' cursive;
    /* font-family: "Petit Formal Script", cursive, "DM Sans", sans-serif; */
}

.container {
    max-width: 1400px;
    height: auto;
    /* background-color: var(--background-color); */

}


/*********** header ***********/
.navbar-box{
    background-color:var(--header-color) !important;
}


.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.wrapper {
    background: #ececec;
    padding: 0 20px 0 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.side-image {
    max-width: 100%;
    height: 550px;
    background-image: url("../images/loginPageImg.jpg") !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative !important;
    border-radius: 10px 0 0 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

.img {
    width: 35px;
    top: 30px;
    left: 30px;
    position: absolute;
}

.text p {
    color: #fff;
    font-size: 28px;
}

.i {
    font-weight: 400;

}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;

}

.login-input-box {
    width: 330px;
    box-sizing: border-box;
    margin-top: 100px;
}

.login-input-box h3 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;

}

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px;

}

.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 10px;
    color: #40414a;
}

.login-input-box .input-field label {
    position: absolute;
    left: 10px;
    top: 10px;
    pointer-events: none;
    transition: .5s;
}

.input-field .input:focus~label {
    top: -10px;
    font-size: 13px;
}

.input-field .input:valid~label {
    top: -10px;
    font-size: 13px;
    color: #5d5076;
}

.input-field .input:focus,
.input-field:valid {
    border-bottom: 1px solid #743ae1;
}

.submit {
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
}

.submit:hover {
    background: rgba(37, 95, 156, 0.1);
    color: #fff;
}

.signin {
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
}

span a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}

span a:hover {
    text-decoration: underline;
    color: #000;
}

@media only screen and (max-width:768px) {
    .side-image {
        border-radius: 10px 10px 0 0;
    }

    img {
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }

    .text {
        position: absolute;
        top: 70%;
        text-align: center;
    }

    .text p,
    i {
        font-size: 17px;
    }
}

/************  crud page designing ****************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    padding: 20px;
    border-radius: 30px;
}

.main-div {
    width: max-content;
    height: auto;
    background-color: hsl(206, 21%, 94%);
    display: grid;
    place-items: center;
}

.center_div {
    width: 100%;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.center_div::-webkit-scrollbar {
    overflow: hidden;
}

nav {
    width: 100%;
}

.form-div {
    width: 100%;
    display: block;
    flex-direction: column;
    padding: 40px;
    gap: 5px;
    /* border: 1px solid grey; */
    background-color: aliceblue
}


.input-box input {
    border: 1px solid rgb(222, 217, 217);
    padding: 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
    background: transparent;
}

.input-box input:focus {
    padding: 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
    border-bottom-style: hsl(228, 100%, 35%);
    border-bottom-style: rgb(49, 27, 148);
}

.table-div {
    margin-top: 50px;
    border: 2px solid darkgreen;
}

thead tr {
    border-collapse: collapse;
    border: 1px solid darkgreen;
    background-color: rgb(8, 96, 8);
    font-size: 24px;
    font-weight: 600;

}

.form-div,
.table-div {
    padding: 0 15px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

/* Responsive table */
@media screen and (max-width: 600px) {
    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

/* Responsive Form */
.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

/* Responsive Button */
.btn {
    display: block;
    width: 100%;
}

/* Utility Classes */
.mt-20 {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {

    .input-box,
    .btn {
        width: 100%;
        box-sizing: border-box;
    }
}

.pagination-div {
    display: flex;
    justify-content: right;
    padding: 50px;
}

/* Footer */

.footer-section {
    background-color: var(--footer-color);
    bottom: 0px;
    /* position: fixed; */
    width: 100%;
    margin-top: 5rem;
}
.footer {
    display: flex;
    justify-content: center;
    bottom: 0;
}

/* PopUp Styling */
.Modal {
    width: 1400px;
}

/* Sidebar section  */
.sidebar-section {
    width: calc(100% -70px);
}

/* timer styling */

.timer-btn {
    height: 70px;
    color: rgb(107, 107, 107);
    font-size: 22px;
    font-weight: 600;
    background: white;
    border-bottom: 2px solid hsl(0, 0%, 83%);
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 5px solid grey;
}

.timer-btn:hover,
.icon:hover {

    color: rgb(11, 11, 11);
    transition: color 0.3s ease;

}

.active.timer-btn {
    color: dodgerblue;
    border-bottom: 3px solid dodgerblue;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

.timer-div {
    height: 200px;
    background: white;
    padding: 100px;
}

.active.iconColor {
    color: dodgerblue;
}

.iconColor {
    color: dodgerblue;
}

/* logout */
.logout-btn {
    width: 100px;
    height: 40px;
    color: white;
    font-weight: 600;
    font-size: 22px;
    border-radius: 6px;
    background: #6f9a37;
}

/* homePage navigation styling  */
.home-header {
    display: flex;
    justify-content: space-evenly;
}

.home-header h1 {
    font-family: "Old Standard TT", serif;
}

.home-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin: 20px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: "DM Sans", sans-serif;
}


/* blog css */

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    z-index: 1;
}

.home-ul li:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: sans-serif;
    font-size: 16px;
}

.li {
    margin: 2px;
}

.home-ul.blog-li:hover .dropdown-content {
    display: block;
}

.wpo-page-title {
    background-image: url('../images/blog-banner-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 350px;
    border: none;
}

.wpo-page-title .wpo-breadcrumb-wrap {
    text-align: center;
    display: block;
    margin-top: 10px;
}

.wpo-page-title .wpo-breadcrumb-wrap h2 {
    margin-top: 98px;
    font-size: 50px;
    color: white;
    font-family: " Old Standard TT", serif;
    line-height: 60px;
    font-weight: 700;
}

.wpo-page-title .wpo-breadcrumb-wrap ul .home-link::after {
    content: " //";
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-link,
.blog-link {
    color: black;
    text-decoration: none;
}

.wpo-blog-content .entry-details p {
    color: #626B72;
    line-height: 25px;
}

.tag-share-wrap {
    display: flex;
    justify-content: space-between;
}

.tag-share-wrap .tag-share1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-share-wrap .tag-share1 ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.tag-share-wrap .tag-share1 ul li {
    margin: 2px;
}

.left-tag-ul,
.right-tag-ul {
    margin-top: 13px;
}

.tag-share-wrap .tag-share1 span {
    font-size: 18px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
}

.tag-share-wrap .left-tag .left-tag-ul a {
    color: #1d2327;
    text-decoration: none;
    background-color: #f5f5f5;
    padding: 5px 18px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 12px;
    border: 1px solid rgb(240, 236, 236);
}

.tag-share-wrap .right-tag .right-tag-ul a {
    color: #1d2327;
    text-decoration: none;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid rgb(240, 236, 236);
}

.tag-share-wrap .left-tag .left-tag-ul a:hover {
    color: white;
    background-color: rgb(65, 88, 208);
}

/* .tag-share-wrap .right-tag .right-tag-ul a:hover {
    color: white;
    background-color: rgb(65, 88, 208);
} */
.icon-class:hover,
.tag-share-wrap .right-tag .right-tag-ul a:hover {
    color: white;
    background-color: rgb(65, 88, 208);
}

.comment-respond {
    border: 1px solid rgba(59, 57, 57, 0.2);
    padding: 40px 60px;
    box-shadow: 0px 6px 20.1px 4.9px rgb(176 191 238 / 12%);

}

.comment-respond h3 {
    font-family: "Old Standard TT", serif;
}

.comment-respond form input {
    background-color: #f9f9f9;
    border: 1px solid #E3E3E3;
    padding: 5px;
    height: 55px;
}

.comment-respond form textarea {
    background-color: #f9f9f9;
    border: 1px solid #E3E3E3;
    padding: 5px;
}

.form-submit button {
    height: 55px;
    width: 185px;
    background-color: #C8A898;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: none;
}

/* blog section */

.wpo-blog-section {
    padding: 120px 0;
}

.entry-media-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0;
}

.entry-media-ul li a,
.entery-media-ul li {
    color: #636893;
    font-size: 20px;
    font-weight: 400;
}

.blockquote {
    background-color: #ffeeed;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-left: 4px solid #ff8479;
    padding: 45px 30px 45px 100px;
}

.wpo-blog-section .wpo-blog-content .blockquote::before {
    content: "\f10d";
    /* Unicode for the Font Awesome icon */
    font-family: 'Font Awesome 5 Free';
    /* Use the Font Awesome font family */
    font-weight: 900;
    /* Adjust the font weight as needed */
    margin-right: 5px;
    /* Adjust spacing as needed */
    color: #000;
}

/* .entry-meta h3 {
    font-size: 40px;
    line-height: 1.2em;
    margin: -0.27em 0 0.7em;
    font-weight: 500;
    font-family: "Old Standard TT", serif;
    margin-left: 10px;
    margin-top: 20px;
} */

.blog-sidebar {
    padding-left: 45px;
}

/* sidebar */

.widget h3,
.widget_categories2 h3,
.recent-posts h3,
.widget-tag h3 {
    font-size: 23px;
    color: #232f4b;
    font-family: "Old Standard TT", serif;
}

.widget.hr {
    width: 100px;
    border: 2px solid rgb(200 168 152);

}

.blog-sidebar .widget h3 hr::before {
    content: "";
    background-color: #C8A898;
    width: 55px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
}

.blog-sidebar .search-widget .searchform input {
    position: relative;
}

.searchform input {
    width: 100%;
    height: 70px;
    background: #F3F6F6;
    border: none;
    padding: 6px 50px 6px 20px;
}

.blog-sidebar .search-widget .searchform button {
    background-color: #C8A898;
    border: none;
    width: 50px;
    height: 50px;
    margin-left: 0px;
    right: 310px;
    position: absolute;
    margin-top: 10px;
}

.widget_categories2 .category-ul {
    margin: 20px 20px 20px 0;
    padding-left: 0;
}

.posts .post .recent-details {
    color: #1E3446;
}

.post .recent-details p {
    color: #1E3446;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.post .recent-details span {
    color: #9e9c9c;
    font-family: "DM Sans", sans-serif;
    /* font-weight: 600; */
    /* font-size: 16px; */
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 13px;
}

.tagCloud .tag-cloud-ul {
    display: inline-block;

}

.tagcloud-ul li a {
    color: black;
    text-decoration: none;
    padding: 8px;
    border: 1px solid rgb(222, 220, 220);
    background-color: #f5f4f4;
    border-radius: 50px;
    font-size: 13px;
}

.tagcloud-ul li a:hover {
    color: white;
    background-color: #C8A898;
}

.tag-cloud-link {
    display: inline-block;
    margin: 5px;

    padding: 3px 13px;
    border-radius: 20px;
    text-decoration: none;
    color: #333;
    padding-left: 0;
}

.right-flower-img {
    transform: scale(-1);
    -webkit-transform: scaleX(-1);
}

/* Contact page styling */
.main-contact-div {
    height: auto;
}

.main-contact-div .contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 1100px; */
    position: relative;
}

.contact-page {
    width: 500px;
    height: 700px;
    padding: 20px;
    border: 1px solid #fff;
    position: relative;
    /* z-index: 99; */
    border-radius: 361px 361px 0px 361px;
    background-color: #2a4940;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-contact-div {
    width: 92%;
    height: 600px;
    border: 2px solid white;
    border-radius: 355px 355px 0px 355px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-page .contact-form {
    text-align: center;
}

.contact-page .contact-form input {
    height: 50px;
    width: 80%;
    border-radius: unset;
    background: transparent;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-color: white;

}

.contact-form .submit-btn-box {
    margin-top: 2rem;
}

.contact-form .submit-btn-box button {
    width: 100px;
    background: white;
    border-radius: unset;
}

.widget-contact-page .image-div1 .contact-img1 {
    position: absolute;
    top: -17%;
    right: -3%;
    transform: rotate(347deg);
}

.widget-contact-page .image-div2 .contact-img2 {
    position: absolute;
    left: -11%;
    bottom: -19%;
}

/* About us */
/* .about-page {
    padding: 100px;
} */

.about-page .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content .about-image {
    border: 1px solid grey;
    /* padding: 10px; */
}

.about-right .about-right-side {
    padding: 20px;
    background-color: #F9F9F9;
}

.about-right .about-right-side .right-side-content {
    border: 1px solid #e7dedf;
    padding: 40px;
}

.about-row .about-right {
    position: absolute;
    right: 4%;
    top: 40%;
}

.about-right .about-right-side .right-side-content p {
    font-family: "My Custom Font";
    font-size: 18px;
}

